.chevron {
    width: 30px;    /* Set fixed size */
    height: 30px;   /* Set fixed size */
    flex-shrink: 0; /* Prevent shrinking */
    flex-grow: 0;   /* Prevent growing */
}

.no-border {
    border: none !important; /* Important to override other styles */
}