main {
    margin: 25px 0 50px 0;
    width: 80%;
    border-radius: 10px;
}

.upper-hightlight{ 
    border: 1px solid;
    height: 75px;
    margin: 2px auto 3px 5px;
    width: 98%;
    border-radius: 10px;
}

.about-weather{ 
    border: 1px solid;
    height: 20rem;
    border-radius: 10px;
    width: 55%;
    margin:0 5px;
}

.map-container{
    height: 20rem;
    width: 42.5%;
    border-radius: 10px;
    border: 1px solid;
    margin: 0px px;
}

.profile-circle {
    width: 60px;
    height: 60px;
    border: 1px solid;
    margin: 6px;
    border-radius: 50%;
}

.upper-hightlight-right {
    border: 1px solid;
    width: 70px;
    height: 30px;
    border-radius: 10px;
}

.forecast-next{ 
    border: 1px solid;
    height: 18.125rem;
    border-radius: 10px;
    width: 55%;
    margin: 3px 5px;
}

.pollution{
    height: 18rem;
    width: 42.5%;
    border-radius: 10px;
    border: 1px solid;
    margin: 3px 1px;
}


.forecast-container {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .forecast-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .forecast-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    padding: 15px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .forecast-item img {
    margin-top: 10px;
  }
  
  .forecast-item p {
    margin: 5px 0;
    font-size: 14px;
  }
  

  .forecast-next {
    border: 1px solid;
    height: 18.125rem;
    border-radius: 10px;
    width: 55%;
    margin: 3px 5px;
    overflow-y: auto;
  }
  
  .pollution {
    height: 18rem;
    width: 42.5%;
    border-radius: 10px;
    border: 1px solid;
    margin-right: 22px;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .pollution-details p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  .forecast-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .forecast-item img {
    margin-top: 10px;
  }
  
  .forecast-item p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  .lower-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
